*.code-workspace
.history/
.directory

db/
incremental_db/
output_files/
simulation/

*.rpt
*.qar
*.qarlog
*.qws
*.bak
*.summary
*.smsg
*.pin
*.pof
*.sof
*.jdi
*.sld
*.dpf
*.qdf
*.done

*.wlf
transcript

qar_info.json
